<html>
<head>
<title>shukan_hyouka</title>
<meta charset="utf-8">

</head>
<body>
    <h1>主観評価</h1>
    <li>顔画像と音声が適当かどうかの親和性の評価をお願いします．</li>
    <li>最初のページは，練習用です．ここで，適切な音声に調節をお願いします．</li>
    <li>練習は飛ばしてもらってもかまいません．（一番下の”次に進む”を押してください．）</li>
    <li>親和性の評価では，”ふさわしくない”，”ややふさわしくない”，”ややふさわしい”，”ふさわしい”の４段階で評価をしてください．</li>

    <br>
    <br>
    <hr>
    <h1>1</h1>
    <figure>
        <img class="lazy" src="media/3/source_img_face_wav__47M__sx41/54M_from_47M_sx41.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/3/source_img_face_wav__47M__sx41/54M_from_47M_sx41.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>2</h1>

    <figure>
        <img class="lazy" src="media/3/source_img_target_wav__41M__sx295/47M_from_47M_sx295.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/3/source_img_target_wav__41M__sx295/47M_from_47M_sx295.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>3</h1>

    <figure>
        <img class="lazy" src="media/3/target_img_source_wav__38F__sa1/58F_from_58F_sa1.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/3/target_img_source_wav__38F__sa1/58F_from_58F_sa1.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>4</h1>

    <figure>
        <img class="lazy" src="media/3/target_img_onehot_wav__58F__sx68/58F_from_43F_sx68.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/3/target_img_onehot_wav__58F__sx68/58F_from_43F_sx68.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>


    <a href="/next">次に進む</a>
</body>
</html>