<html>
<head>
<title>shukan_hyouka</title>
<meta charset="utf-8">

</head>
<body>
    <h1>主観評価</h1>
    <li>顔画像と音声が適当かどうかの親和性の評価をお願いします．</li>
    <li>最初のページは，練習用です．ここで，適切な音声に調節をお願いします．</li>
    <li>練習は飛ばしてもらってもかまいません．（一番下の”次に進む”を押してください．）</li>
    <li>親和性の評価では，”ふさわしくない”，”ややふさわしくない”，”ややふさわしい”，”ふさわしい”の４段階で評価をしてください．</li>

    <br>
    <br>
    <hr>
    <h1>1</h1>
    <figure>
        <img class="lazy" src="media/1/source_img_face_wav__42M__si2307/43F_from_42M_si2307.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/source_img_face_wav__42M__si2307/43F_from_42M_si2307.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>2</h1>

    <figure>
        <img class="lazy" src="media/1/target_img_source_wav__57M__sx359/38F_from_38F_sx359.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/target_img_source_wav__57M__sx359/38F_from_38F_sx359.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>3</h1>

    <figure>
        <img class="lazy" src="media/1/target_img_source_wav__55F__si1578/48M_from_48M_si1578.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/target_img_source_wav__55F__si1578/48M_from_48M_si1578.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="d" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>4</h1>



    <a href="/next">次に進む</a>
</body>
</html>